.AddPaymentPage {
    .MuiFormLabel-root.Mui-focused {
        color: #00C2D4;
    }

    
}

.MuiPickersDay-daySelected {
    background-color: #00C2D4 !important;
}

.MuiPickersDay-current {
    color: #E2E2E2 !important;
}