$setlife-blue: #00C2D4;
$light_blue: #d9f6f8;
$light_grey: #F1F1F1;
$white: #FFFFFF;
$black: #000000;
$red: #f44336;
$orange: #ff9800;
$blue: #2196f3;
$green: #4caf50;


:export {
    setlifeBlue: $setlife-blue;
    lightBlue: $light_blue;
    lightGrey: $light_grey;
    white: $white;
    black: $black;
    red: $red;
    orange: $orange;
    blue: $blue;
    green: $green
}
