.DateInput {
    .accordion-select-week{
        display: none;
    }
    .MuiPaper-elevation1 {
        box-shadow: none;
        border: 1px solid #F1F1F1;
        color: #828282;
    }
}

@media screen and (min-width: $sm) {
    .DateInput {
        .accordion-select-week{
            display: block;
        }
    }
}
