.Navigation {
    .icon-image {
        max-height: 25px;
        cursor: pointer;
    }
    .navigation-title {
        margin: 15px;
        color: $dark-blue;
    }
}

@media screen and (min-width: $sm) {
    .Navigation {

    }
}
