.Navigation {
    .icon-image {
        max-height: 16px;
        cursor: pointer;
    }
}

@media screen and (min-width: $sm) {
    .Navigation {
        .icon-image {
            max-height: 25px;
        }
    }
}
