.Navigation {
    .icon-image {
        max-height: 16px;
        cursor: pointer;
    }
    .navigation-title {
        margin: 12px;
        color: $dark-blue;
    }
}

@media screen and (min-width: $sm) {
    .Navigation {
        .icon-image {
            max-height: 25px;
        }
    }
}
