.PaymentTile {

    .disabled-tile {
        background-color: $white !important;
    }
    .MuiAccordionSummary-root.Mui-disabled{
        opacity: 1 !important;
    }
}

@media screen and (min-width: $sm) {
    .PaymentTile {
        .edit-button{
            display: none;
        }
        .payments-grid{
            transition: all 0.5s;
            &:hover{
                .edit-button{
                    display: inline-flex;
                    transition: all 0.5s;
                    cursor: pointer;
                }
                padding: 0.5rem;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                border-radius: 0.5rem;
            }
        }
    }
}

