.ProjectDetailPage {
    .MuiBottomNavigation-root {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 2
    }
}

@media screen and (min-width: $sm) {
    .ProjectDetailPage {

    }
}
